*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetStudio.xml
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
build_output.txt
*.apk
*.bin
*.jks
*.keystore
*.aes256
*.log
*.txt
scratch/
vt_response.html
